/* .main-section {
  border: solid 2px black;
} */

/* body {
  background-image: url('https://i.imgur.com/7pr4qIz.jpg');
  background-size: cover;
} */

.title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 5px;
  text-align: center;
  padding: 0;
  height: 100%;
}

@media (max-width: 550px) {
  .title {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    height: auto;
  }
}

.main-screen {
  height: 560px;
  padding: 0;
  position: relative;
}

caption {
  caption-side: bottom;
}

.table-caption-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.table-caption-content > p {
  display: inline-flex;
}

.timer {
  text-align: right;
}

.mine-counter {
  text-align: left;
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  z-index: 2;
  border-radius: 20px;
  /* opacity: 0.7; */
}

td {
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  font-size: 18px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 0;
  color: black;
  /* border: solid 1px #BDBDBD; */
  border: solid 1px #BDBDBD;
  background-color: #BDBDBD;
  box-shadow: inset -2px -2px #7B7B7B;
  /* border-radius: 10px; */
}

.game-end {
  cursor: default;
}

.flagged {
  background-image: url('https://i.imgur.com/Flqlztk.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 18px;
}

.clicked-mine {
  background-color: red;
}

.mine {
  box-shadow: none;
  cursor: default;
  background-image: url('https://i.imgur.com/GfhvaKY.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 18px;
}

.shown {
  box-shadow: none;
  cursor: default;
}

.adjMines-1 {
  color: #4a1486;
  background-color: #e0ecf4;
}

.adjMines-2 {
  color: #4a1486;
  background-color: #bfd3e6;
}

.adjMines-3 {
  color: #6a51a3;
  background-color: #9ebcda;
}

.adjMines-4 {
  color: #6a51a3;
  background-color: #8c96c6;
}

.adjMines-5 {
  color: #dadaeb;
  background-color: #8c6bb1;
}

.adjMines-6 {
  color: #dadaeb;
  background-color: #88419d;
}

.adjMines-7 {
  color: #efedf5;
  background-color: #810f7c;
}

.adjMines-8 {
  color: #efedf5;
  background-color: #4d004b;
}

th:first-child, td:first-child {
  padding: 1px;
}

th:last-child, td:last-child {
  padding: 1px; 
}

nav.difficulty, nav.gameplay {
  display: none;
}

.gameBoard-screen, .difficulty-screen {
  display: none;
}

.gameBoard-screen, .difficulty-screen, .instructions-screen {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win-loss-message {
  font-size: 40px;
  color: red;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
}