/* .main-section {
  border: solid 2px black;
} */

.title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 5px;
  text-align: center;
  margin: 25px auto;
}

.game-screen {
  height: 400px;
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 30px auto;
}

td {
  cursor: pointer;
  border: solid 1px black;
  height: 20px;
  width: 20px;
  padding: 1px; 
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
}

th:first-child, td:first-child {
  padding: 1px;
}

th:last-child, td:last-child {
  padding: 1px; 
}

nav.difficulty, nav.gameplay {
  display: none;
}

.gameBoard-screen, .difficulty-screen {
  display: none;
}